.container .heading {
    /* display: flex; */
    /* justify-content: center;
    align-content: center; */
    /* height: 100vh; Optional: Set the height to fill the viewport */
    padding-left: 630px;
}


.dd-container{
    display: flex;

}

.container .lb-year-dd{
    width: 200px;
    padding-left: 0px;
    display: inline-block;
    float: right;
    top: 0px;
    position: relative; 
    top:-60px;
}

.container .lb-class-dd{
    width: 200px;
    padding-right: 0px;
    display: inline-block;
    /* left: 68%; */
    top: 0px;
    position: relative;
    float: right;
    top:-60px;
}

.lb-table{
    width : 420px;
    margin: 0 auto;
    padding-top: 45px;
}

.footnote{
    width : 600px;

   
}
.dropdown-class-main{
    width:150px;
  height:40px;
  margin-bottom: 0%;
  font-size: medium;
  font-family:Georgia, 'Times New Roman', Times, serif;
  background-color: #6c88c8;
  color: black;
}

.boardheader{
    background-color:#6c88c8;
    font-size: medium;
 }
.error-message
{
    color: red;
}
.message-heading {
    text-align: center;
    margin-top: 16px;
    font-size: 18px;
    font-weight: bold;
  }
