.heading{
    display: flex;
    justify-content: center;
}

.dds {
    width: 100%;
    /* text-align: center; */
    padding: 20px 0;
    display: flex;
    justify-content: center;
    align-items: center; /*Center vertically*/
}

.lb-year-dd .dropdown-class-main {
    background-color: #6c88c8;
    width: 150px;
   margin: 0 10px;  /* Add some horizontal spacing between dropdowns */
   vertical-align: middle;
   height: 40px;
   /* height: 30px;
    padding-top: 40px;
    margin-top: 18px; */
}

.leaderboard-head{
    background-color: #6c88c8;
}
.lb-year-dd .year-label{
    top:-15%;
}

.lb-class-dd .class-label{
    top:-15%;
}

.lb-class-dd .dropdown-class-main {
    background-color: #6c88c8;
    width: 150px;
   margin: 0 10px;  /* Add some horizontal spacing between dropdowns */
   vertical-align: middle;
   height: 40px;
   /* height: 20px; */
    /* padding-top: 40px; */
    /* margin-top: 18px; */
}

.lb-table{
    width : 420px;
    margin: 0 auto;
    padding-top: 0px;
    height: 310px;
}

.message-heading {
    text-align: center;
    /* margin-top: 16px; */
    font-size: 18px;
    font-weight: bold;
  }

  .footnote{
    width : 600px;
    align-items: center;
    text-align: center;
   width: 100%;
   padding-top: 80px;
}

.error-message
{
    color: red;
    text-align: center;
}

.direction-message
{
    color: blue;
    text-align: center;
}


