.dd{
    left : 70%;
    position: absolute;
    transform: translateY(-10px);
   
    /* right : 10%; */
    margin-left: 20px;
    top: -13px;
    padding: 25px;
    width: 180px;
    float: right;
}
.menuItem
{
    text-emphasis-color: white;
}