.dd{
    left : 70%;
    position: absolute;
    transform: translateY(-10px);
    /* right : 10%; */
    margin-left: 20px;
    top: -13px;
    padding: 25px;
    width: 200px;
    float: right;
    /* color: aliceblue; */
    
}
.dd .selectBox{
    /* color: azure; */
    text-decoration: none;
    background-color: #EEE7E7;
    height: 50px;
}
.dd .menus{
    color: black;text-shadow: black;

}
/* .label-persona, .LabelName, .labelSelect{
    color: aliceblue;
}
.menuItem
{
    text-emphasis-color: white;
} */