
.class-drop-down{
  width:150px;
  padding: 10px;
  float: left;
  
}
.test-drop-down{
  padding: 10px;
  width: 150px;
  float: right; 
  position: relative;
  margin: 0px; 
  margin-right: 20px;

}
.year-drop-down{
  padding: 10px;
  width: 150px;
  float: left; 
  margin: 0px; 
  margin-right: 20px;

}
.view-button
{
  
  color:dimgrey;
  font-size: 20px;
  width: 150px;
  height: 50px;
  cursor: pointer;
  float: right;
  margin: 0px;
  position: relative;
}
.top-part
{
  display: flex;
  height: 0%;
  justify-content:center ;
  align-content:center ;
}
.table-block
{
padding-top: 10px;
padding-left: 80px;
padding-right: 80px;
}
.Results-table
{
  box-shadow: 0px 0px 1px 1px rgba(105, 104, 104, 0.2);
  border: 2px solid black
}
.Results-table .Table-head{
  background: #6c88c8;
}
.Results-table .Head-Table-cell{
  font-weight:bold;
  width:50px;
  height: 25px ;
  text-align: center;
  justify-content: center;
  font-family:Georgia, 'Times New Roman', Times, serif;
  border-bottom: 1px solid black;
   padding-bottom: 5px;
  padding-top: 5px; 
}
.Results-table  .Table-cell{
  width:50px;
  font-size: 14px;
  font-family:Georgia, 'Times New Roman', Times, serif;
  text-align: center;
  justify-content: center;
  padding-bottom: 5px;
  padding-top: 5px; 
  
}
.tableContainer{
  overflow: scroll;
  height: 7.5cm;

}

