.box1{
    padding-top: 7%;

    /* padding-left: 3%; */
    padding-right: 15%;

   
}
.Exam-Home{
    padding-top: 20px;
    /* font-size: 23px;
    box-shadow: none !important;
  text-align: center;
  padding-left: 80px; */
}
.paper{
    margin-top: 4%;
    position:absolute;
    border-radius: 1.5%;
    height: 70%;
    /* width: 95%; */
   display: flex;
   
    justify-content: center;
}

.select1
{
    width: 150px;
    display: flex;
    justify-content: center;
    margin-left: 230px;
    margin-top: 0px;
    background-color:#8d9fc9;
    border-color: white;

}

.label1
{
   
    display: flex;
    justify-content: center;
    margin-left: 230px;
    margin-top: 0px;
   

}

.card{
    background: rgb(221, 215, 215);
    opacity: 0.9;
    width: 240%;
    height: 120%;
    display: flex;
    justify-content: center;
    margin-top: 2%;
    margin-right: 5%;


  
}

.calender{
    height: 10px;
    width: 100%;
    margin-top: 30px;
    margin-bottom: 20px;
}
.result{
    height:180px;
    width: 180px;
    margin: 0px;
}

.view-buttoncard{
   margin: 30px;
    background-color:gainsboro;
    color:white;
}
