.box1{
    padding-top: 20px;

    padding-left: 30px;
    padding-right: 30px;
   
}
.Exam-Home{
    font-size: 23px;
    box-shadow: none !important;
  text-align: center;
  padding-left: 80px;
}
.paper{
    position:absolute;
    border-radius: 3px;
    height: 75%;
    width: 95%;
   display: flex;
   
    justify-content: center;
}

.select1
{
    width: 150px;
    display: flex;
    justify-content: center;
    margin-left: 230px;
    margin-top: 0px;
    background-color:#8d9fc9;
    border-color: white;

}

.label1
{
   
    display: flex;
    justify-content: center;
    margin-left: 230px;
    margin-top: 0px;
   

}

.card{
    background: rgb(221, 215, 215);
    opacity: 0.9;
    width: 370px;
    height: 290px;
    display: flex;
    justify-content: center;
    margin: 30px;
    padding-left: 40px;
    margin-bottom: 10px;
    margin-left: 70px;
}

.calender{
    height:130px;
    width: 130px;
    margin-top: 30px;
    margin-bottom: 20px;
}
.result{
    height:180px;
    width: 180px;
    margin: 0px;
}

.view-buttoncard{
   margin: 30px;
    background-color:gainsboro;
    color:white;
}
