.top-part{
    margin: 0px;
}
/* .drop-down{
    padding: 25px;
    width: 200px;
    float: right; 
    margin: 0px; 
    margin-right: 20px;
} */
.main-div .add-button{
    margin: 0px; 
    margin-left: 0px;
    padding: 0px;
    width: 200px;
    float: left;
    
}

.add-button .button{
    background-color: #6c88c8;
    
    color: black;
    margin-top: 26px;
    height: 40px;
    
   
}
.add-button .button:hover{
    background-color: #6c88c8;
    
    
}
.classdiv{
    padding-left: 70px;
}

.icon{
    font-size: 25px;
    padding-right: 0px;
}
.label{
    background-color: #6c88c8;
}

.Table{
    
    height: 265px;
}

.table{
    padding: 0px;
}

.add{
    margin: 0px;
}

/* .add-button button{
    height: 50px;
} */
.drop-down Select{
    right:auto;
}

.dd1{
    width: 250px;
    display: inline-block;
    top: 0px;
    position: relative;
}

.dd2{
    width: 150px;
    padding: 0px;
    display: inline-block;
}

.dd3{
    width:200px;
    padding: 0px;
    display: inline-block;
}


.classdiv .classlabel{
    color: black;
    padding-top: 10px;
}

.classdiv .dropdown-class-main{
    background-color: #6c88c8;
    color: black;
    height: 30px;
    padding-top: 40px;
    margin-top: 18px;
    
}

.delete .gridDelete{
    color: black;
    font-weight: bold;
    border: 0px;
}
