
.head1{

/* position: relative;
align-content: center;
justify-content: center; */

float: left;
margin-left: 630px;
margin-right: 360px;

}
 .drop-down{
float: right;


 width: 200px;
   
   
}
.drop-down .dropdown{
    margin-top: 8px;;
    width:170px;
    height:40px;
    margin-bottom: 0%;
    font-size: medium;
    font-family:Georgia, 'Times New Roman', Times, serif;
    background-color: #6c88c8;
    color: black;
}
.add-button{
    margin: 0px; 
    margin-left: 20px;
    padding: 25px;
    width: 200px;
    float: left;
}
.icon{
    font-size: 25px;
    padding-right: 5px;
}
.label{
    background-color: #6d94ed;
}

.Table{
    
    height: 265px;
}

.table{

 padding: 150px;

}

.add{
    margin: 5px;
}

.add-button button{
    height: 56px;
}
.drop-down Select{
    right:auto;
}

.dd1{
    width: 150px;
    padding: 10px;
    display: inline-block;
}

.dd2{
    width: 150px;
    padding: 10px;
    display: inline-block;
}

.dd3{
    width: 200px;
    padding: 10px;
    display: inline-block;
}