.table-data{
    padding-left: 150px;
    padding-right: 150px;
    padding-top :50px;
    height: 300px;
    width: 1060px;
   
        display: flex;
        /* position: absolute; */
        justify-content: center;
        /* width: 1000px; */
    
      
}
.table-data .schedule-display{
    
     width: 800px;
    
}
 .header{
    background-color:#6c88c8;
    font-size: medium;
 }

.content-dialog{
    height: 300;
     width: "100%";
}
.Table-display{
    
    height: 265px;
}