.table-data{
    padding-left: 100px;
    padding-right: 100px;
    padding-top :0px;
    height: 330px;
   
        display: flex;
        /* position: absolute; */
        justify-content: center;
        /* width: 1000px; */
    
      
}
.schedule-display{
    
     width: 800px;
}
.content-dialog{
    height: 300;
     width: "100%";
}
.Table-display{
    
    height: 265px;
}