.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  background: #6c88c8;
  font-size: 16px;
  color: white;
  display: flex;
  width: 100%;
}
.App-header img {
  max-height: 70px;
}
.App-footer {
  background-color: #6c88c8;
  font-size: 16px;
  bottom: 0;
  position: absolute;
  width: 100%;
  text-align: center;
  padding-top: 20px;
  padding-bottom: 20px;
}
.App-footer a {
  color: white !important;
  text-decoration: none !important;
  text-transform: uppercase;
  margin-right: 30px;
  font-size: 16px;
}
#side-navigation {
  position: absolute;
  right: 0;
  top: 15px;
  color: #fff;
}
.App-Card {
  box-shadow: none !important;
  text-align: center;
}
.App-Card a {
  margin-right: 20px;
  text-decoration: none !important;
}

.Grid-container{
  padding-top:8px;;
  padding-left:10px;
  overflow: auto;
       
}

.Grid-container .paper1{
  position:absolute;
  height: 76%;
  width:15%;
 
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #6c88c8;
  border-radius: 3px; 
  
 

}
.Grid-container .paper2{
  position:absolute;
  border-radius: 3px;
  height: 76%;
  width:81%;
  background-color: #EEE7E7;
  display: flex;
 
  justify-content: center;
  /* overflow: auto; */
 


}

.Grid-container .paper1 button{
  background:white;
  border: 1px solid rgb(197, 203, 221);
  border-radius: 2px;
  padding-top: 7px;
  padding-bottom: 7px;
  color: rgb(65, 62, 62);
  font-family:Georgia, 'Times New Roman', Times, serif;
  font-size: medium;
  width:150px;
  height:40px;
  justify-content: center;
 
}

.Grid-container .paper1 button:focus {background-color: rgb(218, 212, 212);
border:1.5px solid rgb(238, 235, 235);
}

.Grid-container .paper2 .button-style:hover {background-color:  #6c88c8;
  border:1.5px solid rgb(238, 235, 235);
  }

.Grid-container .paper2 .button-style{
  background: #6c88c8;
  border: 0.5px solid rgb(173, 172, 172);
  border-radius: 3px;
  padding-top: 7px;
  padding-bottom: 7px;
 
 color:black;
 font-size: medium;
  width:170px;
  height:40x;
  margin-top: 30px;
  margin-right: 60px;
  float: left;
  font-family:Georgia, 'Times New Roman', Times, serif;
}



.Grid-container .paper2 .nosubmit input{
  border: 1px solid #555;
  margin-top: 30px;

  float: right;
  padding: 9px 4px 9px 40px;
   background: transparent url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='16' height='16' class='bi bi-search' viewBox='0 0 16 16'%3E%3Cpath d='M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001c.03.04.062.078.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1.007 1.007 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0z'%3E%3C/path%3E%3C/svg%3E") no-repeat 13px center;
}

.Class-table .Table-head{
  background: #6c88c8;

}

.Class-table{
  box-shadow: 0px 0px 1px 1px rgba(105, 104, 104, 0.2);
}

.Class-table .Head-Table-cell{
  font-weight:bold;
  width:150px;
  font-family:Georgia, 'Times New Roman', Times, serif;
}

.Class-table  .Table-cell{
  width:150px;
  font-size: 14px;
  font-family:Georgia, 'Times New Roman', Times, serif;
  
}

.Subject-table{
  box-shadow: 0px 0px 1px 1px rgba(105, 104, 104, 0.2);
}

.Subject-table .Table-head{
  background: #6c88c8;

}
.Subject-table .Head-Table-cell{
  background: #6c88c8;
  width:120px;
  font-weight:bold;
  font-family:Georgia, 'Times New Roman', Times, serif;

}

.Subject-table  .Table-cell{
  width:120px;
  color:black;
  font-family:Georgia, 'Times New Roman', Times, serif;
  
}

.Dialog .input-label{
float:left;
padding-top:20px;
padding-right:5px;
font-weight:bold;
width:100px;
display:inline-block;
}
.Dialog .input{
  float:left;
  width:200px;
  padding-top:8px;
  padding-Bottom:8px;
  margin-top:20px;
}
.Dialog .select{
  float:left;
  width:210px;
  padding-top:8px;
  padding-Bottom:8px;
  margin-top:20px;
}
.Dialog .DialogTitle{
  background:#6c88c8;
  height:18px;
  font-weight: bold;
  
}
.Dialog button{
  background-color:black;
  color:white;
}